* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	max-width: 1240px;
	margin: 0 auto;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 400;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

h1, h2, h3 {
	margin: 20px auto;
	font-size: 700;
}

.container {
	padding: 20px;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	border-radius: 50px;
	background-color: #b1c1d4;
}

.container-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.foto {
	display: inline-block;
	margin: auto;
	width: 200px;
	height: 250px;
	border-radius: 50px;
}

.container-footer {
	display: flex;
	justify-content: space-between;
	background-color: #b1c1d4;
	height: 65px;
	align-items: center;
	font-size: 16px;
	letter-spacing: 0.3px;
	padding: 0 20px;
}

.my-github {
	display: flex;
	text-decoration: none;
	align-items: center;
}

.github-icon {
	padding-right: 10px;
}

.github-text {
	color: #000000;
}